.grid {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(8, 1fr);
}

.title {
    grid-column: 1/9;
    color: white;
}

.menu {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column: 1/9;
    color: white;
}

.header {
    grid-column: 1/3;
    color: white;
}

.divider {
    grid-column: 1/9;
}

.menu-stats {
    padding: 20px;
    grid-column: 3/9;
    color:white;
    padding-left: 1100px;
}

.message {
    grid-column: 2/9;
    padding: 15px;
    margin: auto;
}

.menu1 {
    padding: 20px;
    grid-column: 1/3;
    margin:auto;
    padding-top: 50px;
}

.menu2 {
    padding: 20px;
    grid-column: 3/5;
    margin:auto;
    padding-top: 50px;
}

.menu3 {
    padding: 20px;
    grid-column: 5/7;
    margin:auto;
    padding-top: 50px;
}

.menu4 {
    padding: 20px;
    grid-column: 7/9;
    margin:auto;
    padding-top: 50px;
}

.date-graph {
    grid-column: 1/5;
    padding: 20px;
}

.cur-graph {
    grid-column: 5/9;
    padding: 20px;
}

.ter-graph {
    grid-column: 1/5;
    padding: 20px;
}

.per-graph {
    grid-column: 5/9;
    padding: 20px;
}

.curspread {
    grid-column: 1/5;
    padding: 20px;
    padding-bottom: 100px;
}

.terspread {
    grid-column: 5/9;
    padding: 20px;
    padding-bottom: 100px;
}
